 <nav class="navbar navbar-default">
      <div style="background-color: #D5DBDB">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Nag-SNOW</b></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/"><b>Home</b></a></li>
            <li><a href="/search"><b>Search</b></a></li>
              <li><a href="/incident"><b>Create Incident</b></a></li>
              <li><a href="/dashboard"><b>Dashboards</b></a></li>
              <li><a href="/about"><b>About</b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
